div#empDetails_wrapper {
    background-color: #36487d;
    border-radius: 10px 10px 10px 10px;
}

.dt-buttons {
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

div#empDetails_filter  {
    padding-top: 10px;
    padding-right: 7px;
}

input[type=search] {
    -webkit-appearance: none;
    border-radius: 10px;
    color: black;
}

div#empDetails_filter label{
color: white;
}

thead {
    background-color:  #e87136;
    color: white;
}

div#empDetails_info {
    padding-left: 7px;
    padding-bottom: 7px;
    color: white;
}